@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
:root {
  background-color: white;
  font-family: "Montserrat", sans-serif, system-ui, Avenir, Helvetica, Arial;
}
body {
  margin: 0 !important;
}
#root {
  margin: 0;
  padding: auto;
}
body {
  margin: 0;
  direction: ltr;
}
* {
  font-family: "Montserrat", sans-serif;
  direction: ltr;
}
